*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
body{
    background-image: url(/src/img/animals.gif);
    background-size: cover;
}
h1{
    align-items: center;
    color: #000;
    text-align: center;
    font-size: 90px;
    transition-duration: 2s;
    -webkit-text-stroke: 3px rgba(0, 191, 255, 0.699);
}
.hfondn{
    background: rgba(0,0,0,0.9);;
    background-size: cover;
    
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3,130px);
    justify-content: center;
    margin-top: 20px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004) ;
    
}


.contenedor div{
    border: 3px solid black;
    width: 130px;
    height: 130px;
    font-size: 80px;
}
.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background: linear-gradient(#ff1160c4,#3a9bf6a8) ;
    cursor: pointer;
}
.valor:hover{
    box-shadow: 5px 5px 50px blue;
}

