*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
body{
    background-image: url(/src/img/animals.gif);
    background-size: cover;
}
h1{
    align-items: center;
    color: #fff;
    background-size: auto;
    text-align: center;
    font-size: 90px;
    background-color: rgba(0,0,0,0.9);
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3,130px);
    justify-content: center;
    margin-top: 60px;
    
}


.contenedor div{
    border: 3px solid black;
    width: 130px;
    height: 130px;
    font-size: 80px;
}
.valor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: #fff;
}

